$colors: (
  primary: #222428,
  primary-light: lighten(#222428, 40%),
  primary-dark: darken(#222428, 20%),
  accent: #fff6bb,
  text: white,
  success: #10dc60
);

// $padding: 15px;
// $borders: 15px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  ion-header {
    position: relative;
    background-color: color(primary);
    color: #fff6bb;
    height: auto;
    padding: 4%;
    ion-title {
      position: relative;
      text-align: center;
      vertical-align: middle;
      // padding-bottom: 10%;
    }
  }

  #card {
    overflow: auto;
    ion-card {
      position: relative;
      margin-top: 2pt;
      //width: 100%;
      height: 25%;
      color: color(text);
      background-color: color(primary);
      ion-card-title,
      ion-card-subtitle {
        text-align: center;
        vertical-align: middle;
        color: color(accent);
      }
      img {
        float: right;
        width: auto;
        margin-top: -70px;
        height: 120px;
        margin-right: -15px;
      }
      ion-card-content {
        font-size: 13pt;
        font-family: cursive;
        color: color(text);
      }
    }
    ion-buttons {
      float: right;
      position: relative;
      height: 17pt;
      margin-top: -25px;
      margin-right: 25px;
      color: rgb(255, 246, 246);
      border-radius: 12pt;

      background-color: rgb(7, 79, 82);
      ion-button {
        text-transform: capitalize;
      }
    }
  }
}
